/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/h5bp/css/normalize.css";
@import "../../vendor/h5bp/css/main.css";

/*-- Application stylesheets. -----------------------------------------------*/

/* --- general colors ---- */

.female {
  background-color: #F7D7E4;
}
.male { 
  background-color: #C2D3F2;
}
.unknown {
  background-color: #D9D9D9;
}

/* --- article lists ---- */
ul.articles_list {
  list-style-type: none;
}
li.article {
  margin-bottom: 3px;
}
.title {
  margin : 0;
}
.article_item {
  padding: 4px;
}
.article_item a {
  text-decoration: none;
  color: #222;
}
.article_item a:hover {
  color: #555;
}
.article_item.female {
  background-color: #F7D7E4;
}
.article_item.male { 
  background-color: #C2D3F2;
}
.article_item.unknown {
  background-color: #D9D9D9;
}
.article_item .byline {
  font-size: 0.8em;
}
.article_item .byline.female {
  color: #E33BB9;
}
.article_item .byline.male { 
  color: #215DCC;
}
.article_item .byline.unknown {
  color: #808080;
}
.article_item .pubdate {
  font-size: 0.8em;
}
.article_item .raw_toggle {
  cursor: pointer;
  color: #888;
}
.article_item .raw {
  font-size: 0.7em;
  font-family: courier;
}

/* --- summary ---- */
.article_summary {
  display: inline-block;
  width: 400px;
}
.summary_squares {
  display: inline-block;
  border: 1px solid black;
  float:left;
  margin:10px;
  margin-top:0px;
  position: relative;
}
.summary_squares .treemap_cell {
  position: absolute;
}

/* ------ timeline -------- */
.line {
  fill: none;
  stroke-width: 2px;
}
.line.female {
  stroke: #E33BB9;
}
.line.male { 
  stroke: #215DCC;
}
.line.unknown {
  stroke: #808080;
}
.domain {
  fill: none;
  stroke:#555;
  stroke-width: 1.5px;
}
.tick {
  shape-rendering: crispEdges;
}
.x.axis path, .y.axis path,.x.axis line, .y.axis line {
  fill:none;
  stroke:#000;
}
.mouseregion {
  fill: none;
  stroke : #fff;
  opacity: 0;
  stroke-width: 20;
}
.y.axis .tick text,.x.axis .tick text {
  font-size : 0.8em;
}

/*---- stack ----- */
.gender rect {
  stroke : #222;
  stroke-width: 1px;
}
.gender.female {
  fill: #F7D7E4;
}
.gender.male { 
  fill: #C2D3F2;
}
.gender.unknown {
  fill: #D9D9D9;
}
