<div class='article_item <%= classification %>'>
  <h4 class='title'>
    <a href="<%= url %>"><%= typeof title !== "undefined" ? title : '' %></a>
  </h4>
  <div class='byline <%= typeof metrics !== "undefined" ? metrics.byline_gender.result.toLowerCase() : "" %>'>
    <%= typeof byline !== "undefined" ? byline : '' %> 
  </div>
  <div class='pubdate'>Published on: <%= pub_date %> </div>
  <% if (typeof metrics !== "undefined") { %>
    <div class='raw_toggle'>
      + raw results
    </div>

    <div class='raw' style='display:none;'>
      <pre><%= JSON.stringify(metrics, undefined, 2) %></pre>
    </div>
  <% } %>
</div>